<footer>
    <div id="footer">
        <div id="footer-section-1">
            <div>
                <h3>About Enterprise</h3>
                <a href="/bahadur/v1/commerce">home</a>
                <a href="/bahadur/v1/categorys">categories</a>
                <a href="/bahadur/v1/brands">brands</a>
            </div>
        </div>
        <div id="footer-section-2">
            <div>
                <img src="/images/paypal.png" alt="image">
                <img src="/images/mastercard.png" alt="image">
                <img src="/images/visa.png" alt="image">
            </div>
            <div>&copy; Pakitastes/ <a href="https://www.linkedin.com/in/bahadurk/">Powerd by bahadur khan</a></div>
        </div>

    </div>
</footer>