<div id="page">
    <div id="nav-section">
        <ul>
            <li>
                <div id="nav-btns">
                    <div id="close-btn"><i class="bi bi-x-lg"></i></div>
                    <div id="open-btn"><i class="bi bi-list"></i></div>
                </div>
            </li>
            <li>
                <a href="/bahadur/v1/store/update">
                    <img src="<%= logo %>" alt="logo">
                </a>
            </li>
            <li>
                <a href="/bahadur/v1/store">dashboard</a>
            </li>
            <li>
                <a href="/bahadur/v1/store/orders">orders</a>
            </li>
            <li>
                <a href="/bahadur/v1/store/your/products">products</a>
            </li>
            <li>
                <a href="/bahadur/v1/store/customers">customers</a>
            </li>
            <li>
                <a href="/bahadur/v1/store/reviews">reviews</a>
            </li>
            <li>
                <a href="/bahadur/v1/store/bookmarks">bookmarks</a>
            </li>
        </ul>
    </div>
    <script src="/script/store_nav.js"></script>