<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/fave icon.png" type="image/x-icon">
    <title>Update Store</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
        
    <div id="edit-section">
        <div id="btn-section">
            <a href="/bahadur/v1/profile">back</a>
            <a id="update-btn">save</a>
        </div>
        <div id="content-section">
            <ul>
                <li>
                    <label for="">name</label>
                    <input type="text" id="name">
                </li>
                <li>
                    <label for="">email</label>
                    <input type="email" name="" id="email">
                </li>
                <li>
                    <label for="">discription</label>
                    <textarea name="" id="discription"></textarea>
                </li>
                <li>
                    <label for="">logo</label>
                    <input type="file" accept="image/png, image/jpeg, image/jpg" name="" id="filelogo">
                </li>
                <li>
                    <label for="">banner</label>
                    <input type="file" accept="image/png, image/jpeg, image/jpg" name="" id="filebanner">
                </li>
                <li>
                    <p id="message">All fields are required.</p>
                </li>
            </ul>
        </div>
    </div>
    <script src="/script/store_update.js"></script>
</body>
</html>