:root {
    --primary_color: #fe2713;
    --accent-color: #ff9808;
    --accent-blur-color: #f9c3777c;
    --background_color: #FAF3DD;
    --black-color: #000000;
    /* --primary_color: #34495E;
    --accent-color:  #3498DB;
    --accent-blur-color:  #3498db96;
    --background_color: #EAEAEA; */

    --heading-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --body-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
        #categories-page{
            margin: 5vh 0vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        #categories-section-1 h3 {
    font-family: var(--heading-font);
    font-size: 25px;
    text-transform: capitalize;
}
#categories-section-1 p {
    padding: 0% 5%;
    font-family: var(--body-font);
    font-size: 15px;
    text-transform: inherit;
}
#categories-section-2{
    width: 90%;
    margin: 5vh 0vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vh;
}
#categories-section-2 .categry {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
}
.cat-name {
    width: 250px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat-name h2 {
    padding: 5px 10px;
    border-radius: 10px;
    font-family: var(--body-font);
    text-transform: capitalize;
    font-size: 18px;
    background-color: var(--accent-blur-color);
    color: var(--black-color);
}
.cat-vid {
    /* width: 250px;
    height: 250px; */
    position: absolute;
}
.cat-vid video {
    border-radius: 20px;
    object-fit: cover;
}

/* ...................................................... */
#video-div{
    width: 100%;
}
#video-div video {
    width: 100%;
}
#category-content {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 55px 0px;
}
#category-content h2 {
margin: 15px 0px;
font-size: 24px;
text-transform: capitalize;
font-family: var(--heading-font);
}
#category-content p {
margin: 15px 0px;
font-size: 16px;
padding: 25px 15px ;
border-radius: 10px;
text-transform: lowercase;
font-family: var(--body-font);
background-color: var(--background_color);
}
@media (max-width: 1150px) {
    #categories-section-2{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 875px) {
    #categories-section-2{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 575px) {
    #categories-section-2{
        grid-template-columns: 1fr;
        justify-items: center;
    }
}